.container {
  min-height: 100vh;
  
  .news_posts{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;
    
  }
}

.larguraMaximaContainer{
  max-width: 1300px;
  margin: 0 auto;
}

