.movies_pannel{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem 0;

    .principal_pannel{
        height: 40rem;
        width: 90rem;
        margin-right: 2rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        
        p{
            margin: 30rem 20rem 2rem 2rem;  
            font-family: 'Lexend Deca', sans-serif;
            font-weight: 400;
            font-size: 24px;
            line-height: 34px;  
            color: #FEFBFB;
        }
    }


    .secondary_pannel{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .pannel{
            height: 19rem;
            width: 40rem;
            margin-bottom: 2rem;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
            
            
            
            p{
                margin: 12rem 5rem 2rem 2rem;  
                font-family: 'Lexend Deca', sans-serif;
                font-weight: 400;
                font-size: 13px;
                line-height: 20px;  
                color: #FEFBFB;
            }
        }

        :last-child{
            margin: 0;
        }
    }
}