.movies_pannel{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .pannel{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90rem;

        .img_pannel{
            height: 151px;
            width: 200px;
            margin-right: 2rem;
            margin-bottom: 2rem;
            background-repeat: no-repeat;
            background-size: cover;
            background-position: 50% 50%;
        }

        .content{
            display: flex;
            justify-content: flex-start;
            align-items: flex-start;
            flex-direction: column;

            h4{
                font-family: 'Lexend Deca', sans-serif;
                font-weight: 400;
                font-size: 13px;
                line-height: 20px;
                color: #FEFBFB;
                margin-bottom: 1.5rem;
            }

            p{
                font-family: 'Inter', sans-serif;
                font-weight: 400;
                font-size: 11px;
                line-height: 16px;
                color: #C4C4C4;
                text-overflow: ellipsis;
                margin-bottom: 1rem;
            }

            span{
                font-family: 'Inter', sans-serif;
                font-weight: 600;
                font-size: 10px;
                line-height: 20px;
                color: #C4C4C4;
                margin-bottom: 1rem;
            }

            button{
                padding: 3px 22px;
                background: #8257E6;
                border-radius: 3px;
                margin-bottom: 2rem;
                a{
                    font-family: 'Inter', sans-serif;
                    font-weight: 600;
                    font-size: 11px;
                    line-height: 20px;
                    color: #FEFBFB;

                }

            }
        }
    }
}