.title{
    margin: 8rem 0 4rem 0;
    color: #FEFBFB;

    h2{
        font-family: 'Lexend Deca', sans-serif;
        font-weight: 400;
        font-size: 48px;
        line-height: 60px;
        margin-bottom: 2rem;
    }

    p{
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        color: #C4C4C4;
    }
}