.title{
    margin: 8rem 0 3rem 0;
    color: #FEFBFB;
    background-repeat: no-repeat;
    background-size: cover !important;
    background-position: 50% 50%;
    background: linear-gradient(90deg, #13131F 0.01%, rgba(19, 19, 31, 0) 99.99%), url('/movies/animes.svg');
    max-width: 100%;
    height: 30rem;

    h2{
        font-family: 'Lexend Deca', sans-serif;
        font-weight: 400;
        font-size: 48px;
        line-height: 60px;
        margin-bottom: 2rem;
        margin-left: 3rem;
        padding-top: 8rem;
    }

    p{
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        color: #C4C4C4;
        margin-left: 3rem;
    }
}

.search{

    input{
        width: 100%;
        background: #282830;
        height: 5rem;
        border: none;
        padding: 0 3rem;
        background-image: url('/movies/search.svg');
        background-position: 1250px 12px; 
        background-repeat: no-repeat;
        outline: none;
        font-size: 20px;
        line-height: 25px;
        color: #989898;
        font-family: 'Lexend Deca', sans-serif;
        font-weight: 400;
        -webkit-appearance:none;
    }
}