.title{
    margin: 8rem 0 4rem 0;
    color: #FEFBFB;

    h2{
        font-family: 'Lexend Deca', sans-serif;
        font-weight: 400;
        font-size: 48px;
        line-height: 60px;
        margin-bottom: 2rem;
    }

    p{
        font-family: 'Inter', sans-serif;
        font-weight: 500;
        font-size: 20px;
        line-height: 32px;
        color: #C4C4C4;
    }
}

@media (max-width: 1300px) {
    .title{
        margin: 8rem 2rem 4rem 2rem !important;
    }
}

@media (max-width: 480px) {
    .title{
        margin: 4rem 0 4rem 0 !important;
        h2{
            margin: 0 2rem 2rem 2rem !important;
            font-size: 38px !important;
        }

        p{
            margin: 0 2rem !important;
            font-size: 16px !important;
        }
    }
}