.week_pannel{
    display: flex;
    flex-direction: column;
    margin-top: 5rem;

    .title{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;

        h4{
            font-family: 'Lexend Deca', sans-serif;
            font-weight: 400;
            font-size: 24px;
            line-height: 20px;
            color: #FEFBFB;
            border-bottom: 3px solid #8257E6;
            padding-bottom: 13px;
            margin-bottom: 24px;
            text-align: left;
        }
    }
    

    .pannel{
        height: 25rem;
        width: 40rem;
        margin-bottom: 2.8rem;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: 50% 50%;
        
        .tag{
            margin: 1rem 1rem;
            padding: 0.8rem;
            background: #8257E6;
            border-radius: 3px;
            font-family: 'Lexend Deca', sans-serif;
            font-weight: 400;
            font-size: 11px;
            line-height: 15px;
            max-width: fit-content;
            color: #FEFBFB;
        }
        
        p{
            margin: 14rem 5rem 2rem 2rem;  
            font-family: 'Lexend Deca', sans-serif;
            font-weight: 400;
            font-size: 13px;
            line-height: 20px;  
            color: #FEFBFB;

            a{
                color: #FEFBFB;
            }

            :hover{
                text-decoration: underline #FEFBFB;
            }
        }
    }
}